.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.current-patient-info {
  display: flex;
  flex-direction: column;
  span {
    padding: 8px;
  }
  .buttons {
    button {
      margin: 4px;
    }
  }
  margin-bottom: 20px;
}

.data-list {
  display: flex;
  flex-direction: column;
}

.submit-button {
    margin-top: 20px;
}

.list-button {
  margin: 4px 0px;
}

.add-patient-button {
  margin-bottom: 20px;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  text-align: center;

  li {
    color: black;
  }
}

input {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

h4 {
    color: black;
}